name: Build & Publish Debug APK

on:
 push:
  branches:
   - main
  tags:
   - '*'
   
jobs:
  build:
    
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle
    
    - name: Gradle permissions
      run: chmod +x ./gradlew
      
    - name: Create destinations
      run: ./gradlew kspDebugKotlin 
    
    - name: Build with Gradle
      run: ./gradlew build
    
    - name: Build Debug APK
      run: ./gradlew assembleDebug
      
    - name: Expose version labels
      uses: michpohl/android-expose-version-name-action@v1.0.0
      with:
        expose-version-name: 'true'
        expose-version-code: 'true'
        
    - name: Releasing using Hub
      uses: kyze8439690/action-release-releaseapk@master
      env:
       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
       APP_FOLDER: app
